# Entorno virtual
.venv/
venv/
env/

# Base de datos local
db.sqlite3

# Archivos temporales y cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Configuración local
.vscode/
.idea/
.DS_Store

# Archivos generados por Django
staticfiles/

# Archivos innecesarios de macOS
__MACOSX/
.DS_Store

