{% extends "base.html" %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
<div style="max-width: 800px; margin: auto; text-align: left;">
    <h1>{{ post.titulo }}</h1>
    <p><i>{{ post.fecha_publicacion|date:"d M Y" }}</i></p>

    {% if post.imagen %}
        <img src="{{ post.imagen.url }}" style="width:100%; border-radius:10px;">
    {% endif %}

    <p>{{ post.contenido|safe }}</p>

    <br>
    <a href="{% url 'page_list' %}"><button>Volver al blog</button></a>
</div>
{% endblock %}
